<%- include('../layouts/header') %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1></h1>
    </section>
    
    <section class="content">
      <div style="background-color: white;">
        <table id="tableItem" class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">

          <thead>
            <tr style="font-weight: bolder;">
              <td style="font-weight: bolder;">ID</td>
              <td style="font-weight: bolder;">DESCRIPTION</td>
              <td style="font-weight: bolder;">BONUS</td>
              <td style="font-weight: bolder;">SUPPORTING ITEM</td>
              <td style="font-weight: bolder;">STATUS</td>
            </tr>
          </thead>

          <tbody>
            <% for (e of data) { %>
              <tr>
                  <td><%= e['id'] %></td>
                  <td><%= e['description'] %></td>

                  <% if (e['id_sp_item'] !== null) { %>
                    <td><%= e['sp_item']['bonus'] %></td>
                    <td><%= e['sp_item']['description'] %></td>
                  <% }else { %>
                    <td><%= e['bonus'] %></td>
                    <td>NONE</td>
                  <% } %>

                  <td><%= e['status'] %></td>
                  <td class="text-right">
                    <div class="btn-group">
                      <a href="#" class="edt-misison" data-id="<%= e['id'] %>" data-toggle="modal"
                        data-target="#modal-edit-mission">Edit</a>
                    </div>
                </td>
              </tr>
            <% } %>
          </tbody>

          <!-- <tfoot>
              <tr>
                  <td colspan="6" style="text-align: center;">
                      <button type="button" data-toggle="modal" data-target="#modalAddItem" class="btn btn-success">ADD</button>
                  </td>
              </tr>
          </tfoot> -->
      </table>
    </div>

    <!-- THE MODAL ADD ITEM -->
    <div class="modal" id="modal-edit-mission">
      <div class="modal-dialog">
          <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                  <h4 class="modal-title" style="font-weight: bolder">EDIT MISSION</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <!-- ID-->
                <div class="form-group">
                  <label class="col-md-4 control-label">ID</label>
                  <div class="col-md-12">
                    <p id="p-id-misison"></p>
                  </div>
                </div>

                <!-- DESCRIPTION -->
                <div class="form-group">
                  <label class="col-md-4 control-label">DESCRIPTION</label>
                  <div class="col-md-12">
                    <input  id="input-description-mission" placeholder="DESCRIPTION"
                              class="form-control input-md" type="text">
                  </div>
                </div>

                <!-- BONUS-->
                <div class="form-group">
                    <label class="col-md-12 control-label" for="product_name_fr">BONUS</label>
                    <div class="col-md-12">
                      <input  id="input-bonus-mission" placeholder="BONUS"
                              class="form-control input-md" type="number"
                              step="0" min="0">
                    </div>
                </div>

                <!-- SUPPORTING ITEM -->
                <div class="form-group" id="div-supporting-item">
                  <label class="col-md-4 control-label">SUPPORTING ITEM</label>
                  <div class="col-md-12">
                    <input id="input-supporting-item" placeholder="SUPPORTING ITEM"
                              class="form-control input-md" type="text">
                  </div>
                </div>

                <!-- STATUS MISSION -->
                <div class="form-group">
                  <label class="col-md-12 control-label" for="product_name_fr">STATUS</label>
                  <div class="col-md-12">
                    <input  id="input-status-mission" placeholder="STATUS"
                            class="form-control input-md" type="number">
                  </div>
                </div>

              <br>
              <br>

              <!-- Button -->
              <div class="form-group">
                <div class="col-md-12" style="text-align: center;">
                  <button id="btn-update-mission" type="submit" name="singlebutton" class="btn btn-success">UPDATE</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </section>
</div>

<script>

  $(document).ready(() => {

    resetModalEditMission();

    $('body').delegate('.edt-misison', 'click', (event) => {
      let dataID = event.currentTarget.attributes.getNamedItem('data-id').value;
      if (dataID === '') {
        alert('Edit mission failed!');
        return;
      }

      $.ajax({
        url           : 'http://' + window.location.host + '/api/v1/admin/setup/get-config-mission-by-id',
        method        : 'POST',
        contentType   : 'application/json; charset=utf-8',
        data          : JSON.stringify({
          id          : dataID
        })
      })
        .done((data) => {

          if (data['status_code'] !== 2000) {
            alert(data['error']);
            return;
          }

          setDataModalEditMission(data['item_mission']);

        })
        .fail(() => {});
    });

    //update mission
    $('#btn-update-mission').click(() => {

      let id          = $('#p-id-misison').text();
      let description = $('#input-description-mission').val();
      let bonus       = $('#input-bonus-mission').val();
      let desSpItem   = $('#input-supporting-item').val();
      let status      = $('#input-status-mission').val();

      if (id === '' || description === '' || bonus === '' || status === '') {
        alert('Edit mission failed!');
        return;
      }

      $.ajax({
        url             : 'http://' + window.location.host + '/api/v1/admin/setup/update-mission',
        method          : 'POST',
        contentType     : 'application/json; charset=utf-8',
        data            : JSON.stringify({
          id            : id,
          description   : description,
          bonus         : bonus,
          des_sp_item   : desSpItem,
          status        : status
        })
      })
        .done((data) => {

          if (data['status_code'] !== 2000) {
            alert(data['error']);
            return;
          }

          $('#modal-edit-mission').modal('hide');
          updateTableMission(data['lsMissionUpdate']);

        })
        .fail(() => {})

    });

  });

  function setDataModalEditMission(data) {

    if (data['sp_item'] === null) {
      $('#div-supporting-item').css('display', 'none');
      $('#input-bonus-mission').val(data['bonus']);
    }
    else {
      $('#div-supporting-item').css('display', 'inline');
      $('#input-supporting-item').val(data['sp_item']['description']);
      $('#input-bonus-mission').val(data['sp_item']['bonus']);
    }

    $('#p-id-misison').text(data['id']);
    $('#input-description-mission').val(data['description']);
    $('#input-status-mission').val(data['status']);

  }

  function updateTableMission(data) {

  }

  function resetModalEditMission() {
    $(".modal").on("hidden.bs.modal", () => {
      $('#input-bonus-mission').val('');
      $('#input-supporting-item').val('');
      $('#p-id-misison').text('');
      $('#input-description-mission').val('');
      $('#input-status-mission').val('');
    });
  }

</script>

<%- include('../layouts/footer') %>