<%- include('../layouts/header') %>

  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>CẤU HÌNH EVENT</h1>
    </section>

    <section class="content">
      <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body" style="background-color: white;">
              <div class="form-group row"><label class="col-sm-2 col-form-label">Thời Gian Bắt Đầu:</label>
                <div class="col-sm-6">
                  <input type="date" id="start-time-event" class="form-control"
                    value="<%= starting_time %>">
                </div>
              </div>
              <div class="form-group row"><label class="col-sm-2 col-form-label">Thời Gian Kết Thúc:</label>
                <div class="col-sm-6">
                  <input type="date" id="end-time-event" class="form-control"
                    value="<%= ending_time %>">
                </div>
              </div>
            </div>
            <div style="text-align: center; margin-top: 10px;">
              <button type="button" id="btn-update-time-event" class="btn btn-primary">CẬP NHẬT</button>
            </div>
        </div>
      </div>
    </section>
    
    <section class="content">
      <div style="background-color: white;">
        <table id="table-event" class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">

          <thead>
            <tr style="font-weight: bolder;">
              <td style="font-weight: bolder;">ID</td>
              <td style="font-weight: bolder;">DESCRIPTION</td>
              <td style="font-weight: bolder;">BONUS</td>
              <td style="font-weight: bolder;">SUPPORTING ITEM</td>
              <td style="font-weight: bolder;">STATUS</td>
            </tr>
          </thead>

          <tbody>
            <% for (e of data) { %>
              <tr>
                  <td><%= e['id'] %></td>
                  <td><%= e['description'] %></td>
                  <td><%= e['bonus'] %></td>
                  <td><%= e['sp_item'] %></td>
                  <td><%= e['status'] %></td>
                  <td class="text-right">
                    <div class="btn-group">
                        <a href="#" class="edit-event" data-id="<%= e['id'] %>" data-toggle="modal"
                            data-target="#modal-edit-event">Edit</a>
                    </div>
                </td>
              </tr>
            <% } %>
          </tbody>
      </table>
  
      <!-- THE MODAL ADD ITEM -->
      <div class="modal" id="modal-edit-event">
          <div class="modal-dialog">
              <div class="modal-content">
  
                  <!-- Modal Header -->
                  <div class="modal-header">
                      <h4 class="modal-title" style="font-weight: bolder">EDIT EVENT</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
  
                  <!-- Modal body -->
                  <div class="modal-body">
                    
                    <!-- ID-->
                    <div class="form-group">
                      <label class="col-md-4 control-label">ID</label>
                      <div class="col-md-12">
                        <p id="p-id-event"></p>
                      </div>
                    </div>

                    <!--DESCRIPTION -->
                    <div class="form-group">
                      <label class="col-md-4 control-label">DESCRIPTION</label>
                      <div class="col-md-12">
                        <input type="text" class="form-control input-md" id="input-des-event" placeholder="Description event">
                      </div>
                    </div>

                    <!-- SUPPORTING ITEM -->
                    <div class="form-group" id="div-supporting-item">
                      <label class="col-md-4 control-label">SUPPORTING ITEM</label>
                      <div class="col-md-12">
                        <p id="p-sp-item-event"></p>
                      </div>
                    </div>

                    <!-- BONUS-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="product_name_fr">BONUS</label>
                        <div class="col-md-12">
                          <input  id="input-bonus-event" placeholder="Bonus"
                                  class="form-control input-md" type="number" min="1" step="1">
                        </div>
                    </div>

                    <!-- STATUS -->
                    <div class="form-group">
                      <label class="col-md-4 control-label">STATUS</label>
                      <div class="col-md-12">
                        <input  id="input-status-event" placeholder="Status"
                                class="form-control input-md" type="number">
                      </div>
                    </div>

                  <br>
                  <br>

                  <!-- Button -->
                  <div class="form-group">
                      <div class="col-md-12" style="text-align: center;">
                        <button id="btn-update-event" type="submit" name="singlebutton" class="btn btn-success">UPDATE</button>
                      </div>
                  </div>
                </div>
  
              </div>
          </div>
      </div>

    </section>
  </div>

  <script>

    $(document.body).ready(() => {

      getEventById();
      updateEvent();
      updateTimeEvent();
      
    });

    function getEventById() {
      $('body').delegate('.edit-event', 'click', (event) => {
        let idEvent = event.currentTarget.attributes.getNamedItem('data-id').value;
        if (idEvent === null || idEvent === undefined || idEvent === '') {
          alert('Please check info event!');
          return;
        }

        $.ajax({
          url           : 'http://' + window.location.host + '/api/v1/admin/setup/get-event-by-id',
          method        : 'POST',
          contentType   : 'application/json; charset=utf-8',
          data          : JSON.stringify({
            id_event    : idEvent
          })
        })
          .done((data) => {

            if (data['status_code'] !== 2000) {
              alert('Get event failed!');
              return;
            }

            setDataFormEditEvent(data['result']);

          })
          .fail(() => {});
      });
    }

    function updateEvent() {
      $('#btn-update-event').click(() => {

        let id          = $('#p-id-event').text();
        let description = $('#input-des-event').val();
        let bonus       = $('#input-bonus-event').val();
        let status      = $('#input-status-event').val();

        if (id          === null || id          === undefined || id           === '' ||
            description === null || description === undefined || description  === '' ||
            bonus       === null || bonus       === undefined || bonus        === '' ||
            status      === null || status      === undefined || status       === '') {
        
          alert('Check info event!');
          return;
        }

        $.ajax({
          url         : 'http://' + window.location.host + '/api/v1/admin/setup/update-event-by-id',
          method      : 'POST',
          contentType : 'application/json; charset=utf-8',
          data        : JSON.stringify({
            id          : id,
            description : description,
            bonus       : bonus,
            status      : status
          })
        })
          .done((data) => {

            if (data['status_code'] !== 2000) {
              alert(data['error']);
              return;
            }

            console.log(data);

            $('#modal-edit-event').modal('hide');
            updateTableEvent(data['lsEventUpdate']);

          })
          .fail(() => {});

      });
    }

    function updateTimeEvent() {
      $('#btn-update-time-event').click(() => {

        let startingTime  = $('#start-time-event').val();
        let endingTime    = $('#end-time-event').val();
        
        let tmpTimeS      = new Date(startingTime);
        let tmpTimeE      = new Date(endingTime);

        if (isNaN(tmpTimeS.getTime()) || isNaN(tmpTimeE.getTime()) ||
            tmpTimeS.getTime() >= tmpTimeE.getTime()) {
          alert('Invalid time!');
          return;
        }

        $.ajax({
          url         : 'http://' + window.location.host + '/api/v1/admin/setup/update-time-event',
          method      : 'POST',
          contentType : 'application/json; charset=utf-8',
          data        : JSON.stringify({
            start     : startingTime,
            end       : endingTime
          })
        })
          .done((data) => {

            if (data['status_code'] !== 2000) {
              alert(data['error']);
              return;
            }
            alert(data['msg']);

          })
          .fail(() => {});

      });
    }

    function setDataFormEditEvent(data) {
      $('#p-id-event').text(data['id']);
      $('#input-des-event').val(data['description']);
      $('#input-bonus-event').val(data['bonus']);
      $('#input-status-event').val(data['status']);

      if (data['sp_item']) {
        $('#div-supporting-item').css('display', 'inline');
        $('#p-sp-item-event').text(data['sp_item']);
      }
      else {
        $('#div-supporting-item').css('display', 'none');
        $('#p-sp-item-event').text('');
      }
    }

    function updateTableEvent(data) {
      $('#table-event tbody').remove();
      let markup = '<tbody>';
      
      for (let e of data) {
        markup += `
        <tr>
          <td>${e['id']}</td>
          <td>${e['description']}</td>
          <td>${e['bonus']}</td>
          <td>${e['sp_item']}</td>
          <td>${e['status']}</td>
          <td class="text-right">
            <div class="btn-group">
                <a href="#" class="edit-event" data-id="${e['id']}" data-toggle="modal"
                    data-target="#modal-edit-event">Edit</a>
            </div>
          </td>
        </tr>
        `;
      }

      markup += '</tbody>';
      $('#table-event').append(markup);
    }

  </script>

<%- include('../layouts/footer') %>