<%- include('../layouts/header') %>

  <div class="content-wrapper">
    <section class="content-header">
      <h1>USERS PROFILE</h1>
    </section>
    
    <section class="content">
      <div style="background-color: white;">
        <div class="div-all-item row">

          <!-- button add -->
          <div class="filter-info-user">
            <!-- <label>Search</label>
            <input type="text" placeholder="megaID/name" id="text-search" value=""> -->
            <button id="btn-add-user" name="singlebutton" class="btn btn-success"
                    data-toggle="modal" data-target="#modal-role">
                    ADD
            </button>
          </div>
        </div>

        <table id="user-info-admin-table" class="footable table table-stripped">
          <thead>
            <tr>
              <th style="font-weight: bold;">MAIL</th>
              <th style="font-weight: bold;">NAME</th>
              <th style="font-weight: bold;">ROLE</th>
            </tr>
          </thead>
          <tbody>
            <% for (let d of data) { %>
              <tr>
                <td><%= d['mailer'] %></td>
                <td><%= d['name'] %></td>
                <td>
                  <% if (d['roles'].length === roles.length) { %>
                    All-Control
                  <% }else { %>
                    <select>
                      <% for (let r of d['roles']) { %>
                        <option><%= r %></option>
                      <% } %>
                    </select>
                  <% } %>
                </td>
                <td class="text-right">
									<div class="btn-group">
											<a href="#" class="edt-role-user" data-id="<%= d['mailer'] %>" data-toggle="modal"
													data-target="#modal-role">Edit</a>
											<a href="#" class="del-user" data-id="<%= d['mailer'] %>"
													style="margin-left: 20px">Delete</a>
									</div>
								</td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <div style="text-align: end;">
          <div class="pagination-custom">
            <a href="#" id="previous-page">&laquo;</a>
          </div>
          <div class="pagination-custom" id="pagination">
            <!-- <a href="#" class="three-dot">...</a> -->
          </div>
          <div class="pagination-custom">
            <a href="#" id="next-page" data-id="0">&raquo;</a>
          </div>
        </div>
      </div>

      <!-- THE MODAL ADD PARTITION -->
		<div class="modal" id="modal-role">
			<div class="modal-dialog">
					<div class="modal-content">

							<!-- Modal Header -->
							<div class="modal-header">
									<h4 class="modal-title" id="title-modal" style="font-weight: bolder">EDIT ROLE</h4>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

							<!-- Modal body -->
							<div class="modal-body">

                <!-- MAIL-->
								<div class="form-group">
                  <label class="col-md-12 control-label" for="product_name_fr">MAIL</label>
                  <div class="col-md-12">
                    <div class="col-md-12">
                    <input id="mail-role-modal" type="text" placeholder="GMail"
                          class="form-control input-md">
                    </div>
                  </div>
                </div>
              
                <!-- NAME-->
								<div class="form-group">
                  <label class="col-md-12 control-label" for="product_name_fr">NAME</label>
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <input id="name-role-modal" type="text" placeholder="Name"
                            class="form-control input-md">
                    </div>
                  </div>
                </div>

								<!-- ROLE-->
								<div class="form-group">
									<label class="col-md-4 control-label">ROLES</label>
									<div id="checkbox-role" class="col-md-12">
                    <input type="checkbox" id="all-control" name="all-control" value="all-controll">
                    <label for="all-control">All-Control</label><br>
                    <% for (let r of roles) { %>
                      <input type="checkbox" id="<%= r['id'] %>" name="<%= r['id'] %>" value="<%= r['id'] %>">
                      <label for="<%= r['id'] %>"><%= r['description'] %></label><br>
                    <% } %>
									</div>
								</div>

							<br>
							<br>

							<!-- Button -->
							<div class="form-group">
									<div class="col-md-12" style="text-align: center;">
										<button id="btn-edit-role" name="singlebutton" class="btn btn-success">UPDATE</button>
									</div>
							</div>
						</div>

					</div>
			</div>
		</div>

    </section>
  </div>

  <script>

    $(document).ready(() => {

      window.arrTr      = [];
      for (let tr of $('#user-info-table tbody tr')) {
        window.arrTr.push(tr);
      }

      window.roles = [];
      for (let input of document.getElementById('checkbox-role').getElementsByTagName('input')) {
        let idRole = input.attributes.getNamedItem('id').value;
        if (idRole !== 'all-control') {
          window.roles.push(parseInt(idRole, 10));
        }
      }

      checkboxAll();
      getPagination();
      nextPage();
      previousPage();

      resetModal();
      eventCheckboxRole();
      getUserByMailer();

      addRoleUser();
      updateOrAddRoleUser();
      delRoleUser();

      $('#text-search').click(() => {
        $('#user-info-table tbody').empty();
        $('#pagination').empty();
        search();
      });

    });

    function search() {
      let textSearch = $('#text-search').val();
      for (let tr of window.arrTr) {
        let megaID  = tr.getElementsByTagName('td')[0].textContent.toLowerCase();
        let name    = tr.getElementsByTagName('td')[1].textContent.toLowerCase();

        if (megaID.includes(textSearch) || name.includes(textSearch)) {
          tr.style.opacity = 1.0;
          $('#user-info-table tbody').append(tr);
        }
      }
      
      getPagination();
    }

    //-----------------------------------------------------event click------------------------------------------------------
    function getUserByMailer() {
      $('body').delegate('.edt-role-user', 'click', (event) => {
        let mailer = event.currentTarget.attributes.getNamedItem('data-id').value;
        $.ajax({
          url             : env.http + window.location.host + '/api/v1/admin/role/get-user-by-mailer',
          method          : 'POST',
          headers       : {
            'Authorization'	: `Bearer ${localStorage.getItem('token')}`,
            'Content-Type'	:'application/json'
          },
          data            : JSON.stringify({
            mailer        : mailer
          })
        })
          .done((data) => {

            if (data['status_code'] === 3000) {
              alert(data['error']);
              return;
            }
            setDataModalEditRole(data);

          })
          .fail(() => {});
      });
    }

    function addRoleUser() {
      $('#btn-add-user').click(() => {
        $('#btn-edit-role').text('ADD');
      });
    }

    function updateOrAddRoleUser() {
      $('#btn-edit-role').click(() => {
        let mailer    = $('#mail-role-modal').val();
        let name      = $('#name-role-modal').val();
        let roles     = getRoles();

        if (roles.length <= 0 || mailer === '') {
          alert('Check data!');
          return;
        }

        let url = env.http + window.location.host + '/api/v1/admin/role/edit-role';
        if ($('#btn-edit-role').text() === 'ADD') {
          url = env.http + window.location.host + '/api/v1/admin/role/add-role';
        }

        $.ajax({
          url               : url,
          method            : 'POST',
          headers       : {
            'Authorization'	: `Bearer ${localStorage.getItem('token')}`,
            'Content-Type'	:'application/json'
          },
          data              : JSON.stringify({
            mailer          : mailer,
            name            : name,
            roles           : roles
          })
        })
          .done((data) => {

            if (data['status_code'] !== 2000) {
              alert(data['error']);
              return;
            }
            alert(data['msg']);
            window.location.reload();

          })
          .fail(() => {});
      });
    }

    function delRoleUser() {
      $('body').delegate('.del-user', 'click', (event) => {
        let mailer    = event.currentTarget.attributes.getNamedItem('data-id').value;
        if (mailer === '') {
          alert('Check data!');
          return;
        }

        $.ajax({
          url               : env.http + window.location.host + '/api/v1/admin/role/del-role-user',
          method            : 'POST',
          headers       : {
            'Authorization'	: `Bearer ${localStorage.getItem('token')}`,
            'Content-Type'	:'application/json'
          },
          data              : JSON.stringify({
            mailer          : mailer,
          })
        })
          .done((data) => {

            if (data['status_code'] !== 2000) {
              alert(data['error']);
              return;
            }
            alert(data['msg']);
            window.location.reload();

          })
          .fail(() => {});
      });
    }

    function setDataModalEditRole(data) {
      $('#mail-role-modal').val(data['mailer']);
      $('#name-role-modal').val(data['name']);

      $('#mail-role-modal').attr('disabled', true);

      if (data['full_ctr']) {
        $('#all-control').prop('checked', true);
        checkAllRole();
      }
      else {
        checkRoleBy(data['roles']);
      }
    }

    function resetModal() {
      $(".modal").on("hidden.bs.modal", () => {
        $('#mail-role-modal').attr('disabled', false);
        $('#btn-edit-role').text('UPDATE');
        unCheckAllRole();
      });
    }
    //-----------------------------------------------------event click------------------------------------------------------

    //-----------------------------------------------------check box--------------------------------------------------------
    function checkboxAll() {
      $('#all-control').click(() => {
        if ($('#all-control').is(':checked')) {
          checkAllRole();
        }
        else {
          unCheckAllRole();
        }
      });
    }

    function eventCheckboxRole() {
      for (let r of window.roles) {
        $(`#${r}`).click(() => {
          if (isCheckAll()) {
            $('#all-control').prop('checked', true);
          }
          else {
            $('#all-control').prop('checked', false);
          }
        });
      }
    }

    function checkAllRole() {
      for (let i of window.roles) {
        $(`#${i}`).prop('checked', true);
      }
    }

    function checkRoleBy(roles) {
      for (let r of roles) {
        $(`#${r}`).prop('checked', true);
      }
    }

    function unCheckAllRole() {
      for (let i of window.roles) {
        $(`#${i}`).prop('checked', false);
      }
    }

    function isCheckAll() {
      for (let i of window.roles) {
        if (!$(`#${i}`).is(':checked')) {
          return false;
        }
      }
      return true;
    }

    function getRoles() {
      let roles = [];
      for (let r of window.roles) {
        if ($(`#${r}`).is(':checked') && !roles.includes(r)) {
          roles.push(r);
        }
      }
      return roles;
    }
    //-----------------------------------------------------check box--------------------------------------------------------

    //-----------------------------------------------------pagination-------------------------------------------------------
    function getPagination() {
      let rowsTotal = $('#user-info-table tbody tr').length;
      let numPages  = parseInt(rowsTotal / env.rows_show, 10);

      if ((rowsTotal % env.rows_show) !== 0) {
        numPages += 1;
      }

      let markup = '';
      if (numPages <= env.max_page) {
        for (let i=0; i<numPages; i++) {
          if (i === 0) {
            markup += `<a href="#" class="page active-page" data-id="${i}">${i+1}</a>`;
            continue;
          }
          markup += `<a href="#" class="page" data-id="${i}">${i+1}</a>`
        }
      }
      else {
        for (let i=0; i<env.max_page; i++) {
          if (i === 0) {
            markup += `<a href="#" class="page active-page" data-id="${i}">${i+1}</a>`;
            continue;
          }
          markup += `<a href="#" class="page" data-id="${i}">${i+1}</a>`;
        }
        markup += '<a href="#" class="three-dot">...</a>';
        markup += `<a href="#" class="page" data-id="${numPages-1}">${numPages}</a>`
      }

      $('#pagination').append(markup);
      $('#user-info-table tbody tr').hide();
      $('#user-info-table tbody tr').slice(0, env.rows_show).show();

      $('body').delegate('.page', 'click', (event) => {
        let currPage  = parseInt(event.currentTarget.attributes.getNamedItem('data-id').value, 10);
        updatePagination(numPages, currPage);
      });
    }

    function nextPage() {
      $('#next-page').click(() => {
        let rowsTotal = $('#user-info-table tbody tr').length;
        let numPages  = parseInt(rowsTotal / env.rows_show, 10);
        if ((rowsTotal % env.rows_show) !== 0) {
          numPages += 1;
        }

        let currPage  = parseInt($('#next-page').attr('data-id'), 10) + 1;
        if (currPage >= numPages) {
          return;
        }

        updatePagination(numPages, currPage);
      });
    }

    function previousPage() {
      $('#previous-page').click(() => {
        let rowsTotal = $('#user-info-table tbody tr').length;
        let numPages  = parseInt(rowsTotal / env.rows_show, 10);
        if ((rowsTotal % env.rows_show) !== 0) {
          numPages += 1;
        }

        let currPage  = parseInt($('#next-page').attr('data-id'), 10) - 1;
        if (currPage < 0) {
          return;
        }
        
        updatePagination(numPages, currPage);
      });
    }

    function updatePagination(numPages, currPage) {
      removePageActive();
      let markup    = '';
      if (currPage >= 4) {
        $('#pagination').empty();
        markup += `
          <a href="#" class="page" data-id="0">1</a>
          <a href="#" class="three-dot">...</a>
          <a href="#" class="page" data-id="${currPage-2}">${currPage-1}</a>
          <a href="#" class="page" data-id="${currPage-1}">${currPage}</a>
          <a href="#" class="page active-page" data-id="${currPage}">${currPage+1}</a>
        `;

        if (numPages - (currPage+1) > 2) {
          markup += `
            <a href="#" class="page" data-id="${currPage+1}">${currPage+2}</a>
            <a href="#" class="page" data-id="${currPage+2}">${currPage+3}</a>
            <a href="#" class="three-dot">...</a>
            <a href="#" class="page" data-id="${numPages-1}">${numPages}</a>
          `;
        }
        else {
          for (let i=currPage+1; i<numPages; i++) {
            markup += `<a href="#" class="page" data-id="${i}">${i+1}</a>`;
          }
        }
      }
      else if (numPages <= env.max_page) {
        $('#pagination').empty();
        for (let i=0; i<numPages; i++) {
          if (i === currPage) {
            markup += `<a href="#" class="page active-page" data-id="${i}">${i+1}</a>`
            continue;
          }
          markup += `<a href="#" class="page" data-id="${i}">${i+1}</a>`
        }
      }
      else {
        $('#pagination').empty();
        for (let i=0; i<env.max_page; i++) {
          if (i === currPage) {
            markup += `<a href="#" class="page active-page" data-id="${i}">${i+1}</a>`
            continue;
          }
          markup += `<a href="#" class="page" data-id="${i}">${i+1}</a>`;
        }
        markup += '<a href="#" class="three-dot">...</a>';
        markup += `<a href="#" class="page" data-id="${numPages-1}">${numPages}</a>`
      }

      $('#pagination').append(markup);
      $('#next-page').attr('data-id', currPage);
      showDataTableBy(currPage);
    }

    function removePageActive() {
      for (let e of $('#pagination a')) {
        let c = e.getAttribute('class');
        if (c.includes('active-page')) {
          e.setAttribute('class', 'page');
          return;
        }
      }
    }

    function showDataTableBy(currPage) {
      let startItem = currPage * env.rows_show;
      let endItem   = startItem + env.rows_show;
      $('#user-info-table tbody tr')
          .css('opacity', '0.0')
          .hide()
          .slice(startItem, endItem)
          .css('display', '')
          .animate({ opacity: 1 }, 300);
    }

    //-----------------------------------------------------filter------------------------------------------------------------

  </script>

<%- include('../layouts/footer') %>