<%- include('../layouts/header') %>

  <div class="content-wrapper">
    <section class="content-header">
      <h1>USERS PROFILE</h1>
    </section>
    
    <section class="content">
      <div style="background-color: white;">
        <div class="div-all-item row">

          <!-- <div class="filter-info-user">
            <a hidden id="csv" href=""></a>
            <button class="btn btn-primary" id="btn-export">CSV</button>
          </div> -->

          <!-- search -->
          <div class="filter-info-user">
            <label>Search</label>
            <input type="text" placeholder="megaID/name" id="text-search" value="">
          </div>

          <!-- select column filter -->
          <!-- <div class="filter-info-user">
            <label>Select Column</label>
            <select id="sel-col">
              <option selected value="-1">none</option>
              <option value="3">code đã nhập</option>
              <option value="4">lượt chơi tổng</option>
              <option value="5">lượt chơi còn</option>
              <option value="6">lượt chơi đã sử dụng</option>
            </select>
          </div> -->

          <!-- min -->
          <!-- <div class="filter-info-user">
            <label>Min</label>
            <input type="number" placeholder="min" step="0" min="0" id="min" value="">
          </div> -->

          <!-- max -->
          <!-- <div class="filter-info-user">
            <label>Max</label>
            <input type="number" placeholder="max" step="0" min="0" id="max" value="">
          </div> -->
        </div>

        <table id="user-info-table" class="footable table table-stripped">
          <thead>
            <tr>
              <th style="font-weight: bold;">MEGA ID</th>
              <th style="font-weight: bold;">TÊN</th>
              <th style="font-weight: bold;">SĐT</th>
              <th style="font-weight: bold;">CODE</th>
              <th style="font-weight: bold;">THỜI GIAN</th>
            </tr>
          </thead>
          <tbody>
            <% for (let d of data) { %>
              <tr>
                <td><%= d['mega_code'] %></td>
                <td><%= d['name'] %></td>
                <td><%= d['phone'] %></td>
                <td><%= d['code'] %></td>
                <td><%= d['time'] %></td>
                <td class="text-right">
                  <div class="btn-group" style="margin-right: 20px;">
                    <a href="#" class="btn-black-lists" data-id="<%= d['mega_code'] %>_<%= d['in_black_list'] %>">
                      <% if (d['in_black_list'] === 1) { %>
                        BLOCKED
                      <% }else { %>
                        BLOCK
                      <% } %>
                    </a>
                  </div>
                </td>
              </tr>
            <% } %>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
        <div style="text-align: end;">
          <div class="pagination-custom">
            <a href="#" id="previous-page">&laquo;</a>
          </div>
          <div class="pagination-custom" id="pagination">
            <!-- <a href="#" class="three-dot">...</a> -->
          </div>
          <div class="pagination-custom">
            <a href="#" id="next-page" data-id="0">&raquo;</a>
          </div>
        </div>
      </div>

    </section>
  </div>

  <script>

    $(document).ready(() => {

      window.arrTr      = [];
      for (let tr of $('#user-info-table tbody tr')) {
        window.arrTr.push(tr);
      }

      getPagination();
      nextPage();
      previousPage();

      $('#text-search').on('keyup', () => {
        $('#user-info-table tbody').empty();
        $('#pagination').empty();
        search();
      });

      addOrRmUserInBlackList();

    });

    function search() {
      let textSearch = $('#text-search').val();
      for (let tr of window.arrTr) {
        let megaID  = tr.getElementsByTagName('td')[0].textContent.toLowerCase();
        let name    = tr.getElementsByTagName('td')[1].textContent;
        let phone   = tr.getElementsByTagName('td')[2].textContent;

        if (megaID.includes(textSearch.toLowerCase()) || name.includes(textSearch) || phone.includes(textSearch)) {
          tr.style.opacity = 1.0;
          $('#user-info-table tbody').append(tr);
        }
      }
      
      getPagination();
    }

    function addOrRmUserInBlackList() {
      $('body').delegate('.btn-black-lists', 'click', (event) => {
        let value = event.currentTarget.attributes.getNamedItem('data-id').value.split('_');
        let title = 'Bạn có muốn xóa user này khỏi black list?';
        let url   = env.http + window.location.host + '/api/v1/admin/user-info/remove-user-in-black-list';

        if (value[1] === '0') {
          title = 'Bạn có muốn thêm user này vào black list?';
          url   = env.http + window.location.host + '/api/v1/admin/user-info/add-user-to-black-list';
        }

        confirmEvent(title, url, value[0]);
      });
    }

    function confirmEvent(title, url, megaID) {
      let result = confirm(title);
      if (result === true) {
        $('#loading').css('display', 'block');
        $.ajax({
          url           : url,
          method        : 'POST',
          headers       : {
            'Authorization'	: `Bearer ${localStorage.getItem('token')}`,
            'Content-Type'	:'application/json'
          },
          data          : JSON.stringify({ mega_id: megaID })
        })
          .done((data) => {

            if (data['status_code'] !== 2000) {
              $('#loading').css('display', 'none');
              alert(data['error']);
              return;
            }
            window.location.reload();

          })
          .fail(() => {});
      }
    }

    //-----------------------------------------------------pagination--------------------------------------------------------
    function getPagination() {
      let rowsTotal = $('#user-info-table tbody tr').length;
      let numPages  = parseInt(rowsTotal / env.rows_show, 10);

      if ((rowsTotal % env.rows_show) !== 0) {
        numPages += 1;
      }

      let markup = '';
      if (numPages <= env.max_page) {
        for (let i=0; i<numPages; i++) {
          if (i === 0) {
            markup += `<a href="#" class="page active-page" data-id="${i}">${i+1}</a>`;
            continue;
          }
          markup += `<a href="#" class="page" data-id="${i}">${i+1}</a>`
        }
      }
      else {
        for (let i=0; i<env.max_page; i++) {
          if (i === 0) {
            markup += `<a href="#" class="page active-page" data-id="${i}">${i+1}</a>`;
            continue;
          }
          markup += `<a href="#" class="page" data-id="${i}">${i+1}</a>`;
        }
        markup += '<a href="#" class="three-dot">...</a>';
        markup += `<a href="#" class="page" data-id="${numPages-1}">${numPages}</a>`
      }

      $('#pagination').append(markup);
      $('#user-info-table tbody tr').hide();
      $('#user-info-table tbody tr').slice(0, env.rows_show).show();

      $('body').delegate('.page', 'click', (event) => {
        let currPage  = parseInt(event.currentTarget.attributes.getNamedItem('data-id').value, 10);
        updatePagination(numPages, currPage);
      });
    }

    function nextPage() {
      $('#next-page').click(() => {
        let rowsTotal = $('#user-info-table tbody tr').length;
        let numPages  = parseInt(rowsTotal / env.rows_show, 10);
        if ((rowsTotal % env.rows_show) !== 0) {
          numPages += 1;
        }

        let currPage  = parseInt($('#next-page').attr('data-id'), 10) + 1;
        if (currPage >= numPages) {
          return;
        }

        updatePagination(numPages, currPage);
      });
    }

    function previousPage() {
      $('#previous-page').click(() => {
        let rowsTotal = $('#user-info-table tbody tr').length;
        let numPages  = parseInt(rowsTotal / env.rows_show, 10);
        if ((rowsTotal % env.rows_show) !== 0) {
          numPages += 1;
        }

        let currPage  = parseInt($('#next-page').attr('data-id'), 10) - 1;
        if (currPage < 0) {
          return;
        }
        
        updatePagination(numPages, currPage);
      });
    }

    function updatePagination(numPages, currPage) {
      removePageActive();
      let markup    = '';
      if (currPage >= 4) {
        $('#pagination').empty();
        markup += `
          <a href="#" class="page" data-id="0">1</a>
          <a href="#" class="three-dot">...</a>
          <a href="#" class="page" data-id="${currPage-2}">${currPage-1}</a>
          <a href="#" class="page" data-id="${currPage-1}">${currPage}</a>
          <a href="#" class="page active-page" data-id="${currPage}">${currPage+1}</a>
        `;

        if (numPages - (currPage+1) > 2) {
          markup += `
            <a href="#" class="page" data-id="${currPage+1}">${currPage+2}</a>
            <a href="#" class="page" data-id="${currPage+2}">${currPage+3}</a>
            <a href="#" class="three-dot">...</a>
            <a href="#" class="page" data-id="${numPages-1}">${numPages}</a>
          `;
        }
        else {
          for (let i=currPage+1; i<numPages; i++) {
            markup += `<a href="#" class="page" data-id="${i}">${i+1}</a>`;
          }
        }
      }
      else if (numPages <= env.max_page) {
        $('#pagination').empty();
        for (let i=0; i<numPages; i++) {
          if (i === currPage) {
            markup += `<a href="#" class="page active-page" data-id="${i}">${i+1}</a>`
            continue;
          }
          markup += `<a href="#" class="page" data-id="${i}">${i+1}</a>`
        }
      }
      else {
        $('#pagination').empty();
        for (let i=0; i<env.max_page; i++) {
          if (i === currPage) {
            markup += `<a href="#" class="page active-page" data-id="${i}">${i+1}</a>`
            continue;
          }
          markup += `<a href="#" class="page" data-id="${i}">${i+1}</a>`;
        }
        markup += '<a href="#" class="three-dot">...</a>';
        markup += `<a href="#" class="page" data-id="${numPages-1}">${numPages}</a>`
      }

      $('#pagination').append(markup);
      $('#next-page').attr('data-id', currPage);
      showDataTableBy(currPage);
    }

    function removePageActive() {
      for (let e of $('#pagination a')) {
        let c = e.getAttribute('class');
        if (c.includes('active-page')) {
          e.setAttribute('class', 'page');
          return;
        }
      }
    }

    function showDataTableBy(currPage) {
      let startItem = currPage * env.rows_show;
      let endItem   = startItem + env.rows_show;
      $('#user-info-table tbody tr')
          .css('opacity', '0.0')
          .hide()
          .slice(startItem, endItem)
          .css('display', '')
          .animate({ opacity: 1 }, 300);
    }

    //-----------------------------------------------------filter------------------------------------------------------------

  </script>

<%- include('../layouts/footer') %>