<%- include('../layouts/header') %>

  <div class="content-wrapper">
    <section class="content-header">
      <h1>USERS PROFILE</h1>
    </section>
    
    <section class="content">
      <div style="background-color: white;">
        <div class="div-all-item row">
          <!-- search -->
          <div class="filter-info-user">
            <label>Search</label>
            <input type="text" placeholder="megaID/username" id="search-user" value="">
          </div>

          <!-- select column filter -->
          <!-- <div class="filter-info-user">
            <label>Select Column</label>
            <select id="filter-sel-column">
              <option selected value="-1">none</option>
              <option value="0">code đã nhập</option>
              <option value="1">lượt chơi còn</option>
              <option value="2">lượt chơi đã sử dụng</option>
            </select>
          </div> -->

          <!-- from date -->
          <div class="filter-info-user">
            <label>From</label>
            <input type="date" placeholder="" id="from-date-enter-code" value="">
          </div>

          <!-- to date -->
          <div class="filter-info-user">
            <label>To</label>
            <input type="date" placeholder="" id="to-date-enter-code" value="">
          </div>
        </div>

        <table id="user-info-table" class="footable table table-stripped">
          <thead>
            <tr>
              <th style="font-weight: bold;">MEGA ID</th>
              <th style="font-weight: bold;">SĐT</th>
              <th style="font-weight: bold;">CODE</th>
              <th style="font-weight: bold;">THỜI GIAN</th>
            </tr>
          </thead>
          <tbody>
            <% for (let d of data) { %>
              <tr>
                <td><%= d['mega_code'] %></td>
                <td><%= d['phone'] %></td>
                <td><%= d['code'] %></td>
                <td><%= d['time'] %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <div class="pagination-custom">
          <a href="#" id="previous-page">&laquo;</a>
        </div>
        <div class="pagination-custom" id="pagination">
          <!-- <a href="#" class="three-dot">...</a> -->
        </div>
        <div class="pagination-custom">
          <a href="#" id="next-page" data-id="0">&raquo;</a>
        </div>
      </div>

    </section>
  </div>

  <script>

    $(document).ready(() => {

      getPagination();
      nextPage();
      previousPage();

    });

    function getPagination() {
      let rowsTotal = $('#user-info-table tbody tr').length;
      let numPages  = parseInt(rowsTotal / env.rows_show, 10);

      if ((rowsTotal % env.rows_show) !== 0) {
        numPages += 1;
      }

      let markup = '';
      if (numPages <= env.max_page) {
        for (let i=0; i<numPages; i++) {
          if (i === 0) {
            markup += `<a href="#" class="page active-page" data-id="${i}">${i+1}</a>`;
            continue;
          }
          markup += `<a href="#" class="page" data-id="${i}">${i+1}</a>`
        }
      }
      else {
        for (let i=0; i<env.max_page; i++) {
          if (i === 0) {
            markup += `<a href="#" class="page active-page" data-id="${i}">${i+1}</a>`;
            continue;
          }
          markup += `<a href="#" class="page" data-id="${i}">${i+1}</a>`;
        }
        markup += '<a href="#" class="three-dot">...</a>';
        markup += `<a href="#" class="page" data-id="${numPages-1}">${numPages}</a>`
      }
      $('#pagination').append(markup);

      $('#user-info-table tbody tr').hide();
      $('#user-info-table tbody tr').slice(0, env.rows_show).show();

      $('body').delegate('.page', 'click', (event) => {
        let currPage  = event.currentTarget.attributes.getNamedItem('data-id').value;
        showDataTableBy(currPage);
      });
    }

    function nextPage() {
      $('#next-page').click(() => {
        removePageActive();
        let currPage  = parseInt($('#next-page').attr('data-id'), 10) + 1;
        let element   = $('#pagination a')[currPage].setAttribute('class', 'page active-page');

        $('#next-page').attr('data-id', currPage);
        showDataTableBy(currPage);
      });
    }

    function previousPage() {
      $('#previous-page').click(() => {
        removePageActive();
        let element   = $('#pagination a')[3].setAttribute('class', 'page active-page');
        let currPage  = $('#next-page').attr('data-id');
        console.log(currPage);
      });
    }

    function removePageActive() {
      for (let e of $('#pagination a')) {
        let c = e.getAttribute('class');
        if (c.includes('active-page')) {
          e.setAttribute('class', 'page');
          return;
        }
      }
    }

    function showDataTableBy(currPage) {
      let startItem = currPage * env.rows_show;
      let endItem   = startItem + env.rows_show;
      $('#user-info-table tbody tr')
          .css('opacity', '0.0')
          .hide()
          .slice(startItem, endItem)
          .css('display', '')
          .animate({ opacity: 1 }, 300);
    }

  </script>

<%- include('../layouts/footer') %>